* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #529651;
}

#header {
  padding: 10px;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  background-color: white;
  border: 8px double black;
  border-radius: 10px;
  margin: 20px;
}
#left {
  background-color: rgb(255, 255, 255);
  border: 8px double black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
.subHeader {
  text-align: center;
  color: #529651;
  font-size: 35px;
  text-decoration: underline;
  text-decoration-style: wavy;
}
.subHeader2 {
  color: rgb(252, 55, 6);
  text-decoration: underline;
}
#right {
  background-color: rgb(255, 255, 255);
  border: 8px double black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
img {
  width: 500px;
  height: 250px;
  display: block;
  margin: auto;
  border: 5px solid #529651;
  border-radius: 10px;
}
#block {
  display: block;
  background-color: #529651;
}
#inline {
  display: inline;
  background-color: #529651;
}
p {
  margin: 5px;
}
button {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #529651;
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 200px;
  height: 50px;
}
h4 {
  color: rgb(172, 35, 10);
  text-decoration: underline;
}
#display {
  margin-left: 10px;
}
